$title: #fff;
$choiceHover:#f4f4f4;
$playIcon:#18b0f3;
$chartIcon:#f95731;
$mainBackground:#ecf5ff;
$boxShadow:rgba(86, 185, 235, 0.5);
$choiceBorder:rgba(86, 165, 235, 0.25);
$questionsBackground:#fff;
$prefix:#56a5eb;